
body {
    margin: 0;
    padding: 5px;
    background-color: beige;
    /*width: 3000px;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", Arial, sans-serif;
}

p, li, a {
    font-family: "Montserrat", Arial, sans-serif;
}


/* ========================= */
/* NAVBAR */
/* ========================= */

header {
    width: 100%;
    /*position: fixed;*/
    height: 100px;
    background-color: #743810;
    /*background-image: url(resources/images/destinations_banner.webp);*/
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: transparent;
}

/* LOGO */

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo span {
    color: white;
    font-weight: bold;
}

.header_logo img {
    height: 80px;
    margin-right: 10px;
}

/* MENU */

.menu ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

/* UNDERLINE HOVER */

.link-holder {
    position: relative;
}

.link-holder::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.link-holder:hover::after {
    transform: scaleX(1);
}

#plan_trip {
    rotate: -40deg;
}

/* SETTINGS */

.settings_bar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.settings_bar i {
    color: white;
    font-size: 18px;
}

#flag_US {
    width: 40px;
}

#search_bar {
    height: 23.8px;
    background-color: transparent;
    border: transparent;
}

.account_search_submenu i {
    position: relative;
    right: 10px;
    top: -2px;
    font-size: 14px;
}

.account_search_submenu input {
    position: relative;
    top: -2px;
    right: 15px;
    color: beige;
}



.account_search_submenu input::placeholder {
    color: beige;
}

#account_icon {
    position: relative;
    top: 3px;
    color: beige;
    font-size: 22px;
}

.destinations {
    margin-top: 38px;
    width: 100%;
    overflow: hidden;
}

.islands {
    display: flex;
    gap: 10px;
    /*width: max-content;*/
    animation: scrollCarousel 14.2s linear infinite;
}

@keyframes scrollCarousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.destinations:hover .islands {
    animation-play-state: paused;
}

.island {
    background-color: #0c3a58;
    height: auto;
    width: 580px;
    display: flex;
    flex-direction: column;
    /*padding: 7.2px;*/
    border-radius: 7.2px;
}

.island:hover {
    cursor: pointer;
}

.island_title {
    background-color: #743810;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.island_title h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: beige;
}

.island_img {
    display: flex;
    justify-content: center;
}

.island_img > img {
    height: 200px;
    width: 430px;
    border-radius: 7.2px;
}

.island_description {
    height: 90px;
    padding: 6px;
}

.island_description p {
    text-align: justify;
    color: beige;
}

.island_links {
    height: 20px;
    padding: 6px;
    display: flex;
    justify-content: center;
}

.island_links a {
    color: beige;
    text-decoration: none;
}

.island_links a:hover {
    text-decoration: underline;
}

.tourism {
    margin-top: 40px;
    border-top: 3px solid #743810;
   /* background-color: rgb(92, 80, 43);*/
}

.tourism_section_title {
    height: 94.2px;
    display: flex;
    justify-content: center;
}

.tourism_section_title h2 {
    font-size: 30px;
    color: #743810;
    text-transform: uppercase;
}

.tourism_description {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 11px;
    width: auto;
}

.tourism_description_img img {
    width: 500px;
    border-radius: 9.2px;
}

.tourism_description_paragraph {
    display: flex;
    align-items: center;
    margin: 11px;
    padding: 5px;
    position: relative;
    bottom: 17px;
}

.tourism_description_paragraph p {
    color: #743810;
    text-align: justify;
}

.types_of_tourism_title {
    display: flex;
    justify-content: center;
}

.types_of_tourism_title h2 {
    font-size: 30px;
    color: #743810;
    text-transform: uppercase;
}

.tourism {
    padding: 5px;
}

.types_of_tourism_intro p {
    text-align: justify;
    color: #743810;
    font-size: 16px;
}

.types_of_tourism_list ul {
    display: flex;
    flex-direction: column;
    gap: 12.7px;
    list-style-type: circle;
    color: #743810;
}

.types_of_tourism_list ul li a {
    color: #743810;
    text-decoration: none;
}

.types_of_tourism_conclusion p {
    color: beige;
}

.types_of_tourism {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tourism_card {
    /*border: 1.1px solid black;*/
    border-radius: 9.4px;
    background-color: #743810;
}

.tourism_card:hover {
    cursor: pointer;
}

.tourism_card_title {
    display: flex;
    justify-content: left;
    padding-left: 32.5px;
    /*border-bottom: 1px solid black;*/
    height: 33.5px;
}

.tourism_card_title h4 {
    text-transform: uppercase;
    color: beige;
    font-size: 18px;
}

.tourism_card_description {
    display: flex;
    padding: 5px;
}

.tourism_card_paragraph {
    padding: 5px;
}

.tourism_card_paragraph p {
    text-align: justify;
    color: beige;
}

.tourism_card_suggestions {
    position: relative;
    bottom: 24px;
    display: none;
}

.tourism_card_suggestions li {
    color: beige;
}